@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.markdown {
  @apply prose prose-zinc dark:prose-invert md:prose-lg lg:prose-xl;
}
