---
import Note from "@src/components/Note.astro";
import Layout from "@src/layouts/Layout.astro";
import Spotify from "@src/components/Spotify.astro";
import { getCollection, render } from "astro:content";

const content = await getCollection("top");
const announcement = content.find((c) => c.id.endsWith("announcement"));

const Announcement =
  announcement &&
  announcement.body != null &&
  (await render(announcement)).Content;

const about = content.find((c) => c.id.endsWith("about"));
const About = about && about.body != null && (await render(about)).Content;

const offer = content.find((c) => c.id.endsWith("offer"));
const Offer = offer && offer.body != null && (await render(offer)).Content;
---

<Layout title="Top">
  <article class="flex flex-col gap-4">
    {
      Announcement && (
        <Note type="error">
          <div class="px-4 prose prose-sm md:prose-base">
            <Announcement />
          </div>
        </Note>
      )
    }
    {
      Offer && (
        <Note type="success">
          <div class="px-4 prose prose-sm md:prose-base">
            <Offer />
          </div>
        </Note>
      )
    }
    {
      About && (
        <Note type="info">
          <div class="px-4 prose prose-sm md:prose-base">
            <About />
          </div>
        </Note>
      )
    }
    <Spotify />
  </article>
</Layout>
