---
import { Icon } from "astro-icon/components";
---

<div class="dock z-10">
  <a href="/"
    ><Icon name="line-md:compass-twotone" /><span class="dock-label">Top</span
    ></a
  >
  <a href="/posts/works"
    ><Icon name="line-md:lightbulb-twotone" /><span class="dock-label"
      >Works</span
    ></a
  >
  <a href="/posts/songs"
    ><Icon name="line-md:folder-music-twotone" /><span class="dock-label"
      >Songs</span
    ></a
  >
  <a href="/posts/discography"
    ><Icon name="line-md:star-alt-twotone" /><span class="dock-label">Disc</span
    ></a
  >
  <a href="/posts/texts"
    ><Icon name="line-md:pencil-twotone" /><span class="dock-label">Text</span
    ></a
  >
</div>
