---
import { Icon } from "astro-icon/components";
---

<side class="fixed -rotate-z-1">
  <ul class="menu menu-vertical">
    <li><a href="/"><Icon name="line-md:compass-twotone" />Top</a></li>
    <li>
      <a href="/posts/works"><Icon name="line-md:lightbulb-twotone" />Works</a>
    </li>
    <li>
      <a href="/posts/songs"
        ><Icon name="line-md:folder-music-twotone" />Songs</a
      >
    </li>
    <li>
      <a href="/posts/discography"
        ><Icon name="line-md:star-alt-twotone" />Discography</a
      >
    </li>
    <li>
      <a href="/posts/texts"><Icon name="line-md:pencil-twotone" />Text</a>
    </li>
  </ul>
</side>
